body {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  color: white;
  width: 100%;
}

h1 {
  font-family: 'Jura', sans-serif;
  text-align: center;
}



.admin {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  margin: 0px;
  color: white;
}

.icon:hover {
  color: red;
}

.icon p {
  display: inline-block;
  margin: 0px;
  padding-left: 10px;
}

.single {
  width: 30%;
  height: 20%;
}

.singleProduct {
  text-align: center;
}

.welcome {
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
}

.cleat {
  display: inline-block;
  text-align: center;
  margin-left: 20px;
}

img {
  height: 110px;
  width: 125px;
}

.cartContainer {
  width: 55%;
  text-align: left;
  margin-left: 80 px;
}

.cartItem {
  display: block;
  margin-left: 20px;
  border-top: 2px solid white;
  text-align: left;
  padding: 10px 5px;
}

.quantity {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  margin-left: -209px;
}

.reviewForm {
  position: absolute;
  top: 20%;
  right: 119px;
}

.reviewButton, .reviewArea, .Author {
  display: block;
}

.review {
  border-bottom: 1px solid white;
}

.total {
  border: 10px solid white;
  display: inline-block;
  width: 30%;
  position: fixed;
  top: 30%;
  right: 10%;
}
.total h2 {
  text-align: center;
}

.total p {
  text-align: center;
}

.quantityForm {
  display: inline;

}
