<h1>YOUR CART</h1>
<div class="cartContainer">
  <div class="cartItem" ng-repeat="item in cartUrl | filter : search : strict">
    <cart-directive title="{{item.title}}" brand="{{item.brand}}" image="{{item.image}}" price="{{item.price}}" description="{{item.description}}" review="{{item.review}}"></cart-directive>
    <form class="quantity">Quantity: <input type="text" id="qty" size="5" maxlength="5" value="1"></form>
    <button class="cartbutton"ng-click="deleteCart(item)">Remove</button>
    <button>Review</button>
  </div>
</div>
