<button class="admin" ng-click="goToAdmin()">Admin</button>
<a href="#/user/cart" class="icon"><i class="fa fa-shopping-cart cartIcon"></i><p>()</p></a>
<h1>BOOT ROOM</h1>
<form>
  <select name="Filter" id="Filter" ng-model="search.brand">
    <option value=""></option>
    <option value="Adidas">Adidas</option>
    <option value="Nike">Nike</option>
    <option value="Puma">Puma</option>
    <option value="Umbro">Umbro</option>
  </select>
  <input id="search" type="text" placeholder="Search by Name" ng-model="search.title">
</form>

<div class="cleat" ng-repeat="item in prods | filter : search : strict">
  <user-directive title="{{item.title}}" brand="{{item.brand}}" image="{{item.image}}" price="{{item.price}}" description="{{item.description}}" review="{{item.review}}"></user-directive>
  <a href="#/user/{{item._id}}/">Show More</a>
  <button ng-click="addCart(item)">Add to Cart</button>
</div>
