<h1>INVENTORY</h1>

<button class="addBtn" ng-click="goToAdd()">Add Cleat</button>
<form>
  <select name="Filter" id="Filter" ng-model="search.brand">
    <option value=""></option>
    <option value="Adidas">Adidas</option>
    <option value="Nike">Nike</option>
    <option value="Puma">Puma</option>
    <option value="Umbro">Umbro</option>
  </select>
  <input id="search" type="text" placeholder="Search by Name" ng-model="search.title">
</form>
<div class="cleat" ng-repeat="item in prods | filter : search : strict">
  <user-directive title="{{item.title}}" brand="{{item.brand}}" image="{{item.image}}" price="{{item.price}}" description="{{item.description}}" review="{{item.review}}"></user-directive>
  <button ng-click="deleteProd(item)">Delete</button>
  <a href="#/prod/{{item._id}}/edit">Edit Post</a>
</div>
