<h2>PRODUCT <LIST></LIST></h2>
<form action="" ng-submit="editProd(singleProd)">
    <h3><input type="text" ng-model="singleProd.title" placeholder="Cleat Name"/></h3>
    <h5><input type="text" ng-model="singleProd.brand" placeholder="Brand"></h5>
    <input type="url" ng-model="singleProd.image" placeholder="Image Url">
    <p><input type="price" ng-model="singleProd.price" placeholder="Price"/></p>
    <textarea ng-model="singleProd.description" name="" id="" cols="30" rows="10" placeholder="descprition"></textarea>
    <button type="submit">Done</button>
</form>
