<button class="admin" ng-click="goToAdmin()">Admin</button>
<a href="#/prod/cart" class="icon"><i class="fa fa-shopping-cart cartIcon"></i><p>()</p></a>
<h1>Collection</h1>
<form>
  <select name="Filter" id="Filter" ng-model="search.brand">
    <option value=""></option>
    <option value="Adidas">Adidas</option>
    <option value="Nike">Nike</option>
    <option value="Puma">Puma</option>
    <option value="Umbro">Umbro</option>
  </select>
  <input id="search" type="text" placeholder="Search by Name" ng-model="search.title">
</form>
<div class="cleat" ng-repeat="item in prods | filter : search : strict">
  <form ng-submit="addCart(carted)">
    <a href="#/prod/{{item._id}}"><h3 ng-model="carted.title">{{item.title}}</h3></a>
    <h4 ng-model="carted.brand">{{item.brand}}</h4>
    <img ng-model="carted.image" ng-src="{{item.image}}">
    <h2 ng-model="carted.price">${{item.price}}</h2>
    <p ng-model="carted.description">{{item.description}}</p>
    <button type="submit">Add to Cart</button>
    <button>Review</button>
  </form>
</div>
