<h1>Collection</h1>

<button class="addBtn" ng-click="goToAdd()">Add Cleat</button>
<form>
  <select name="Filter" id="Filter" ng-model="search.brand">
    <option value=""></option>
    <option value="Adidas">Adidas</option>
    <option value="Nike">Nike</option>
    <option value="Puma">Puma</option>
    <option value="Umbro">Umbro</option>
  </select>
  <input id="search" type="text" placeholder="Search by Name" ng-model="search.title">
</form>
<div class="cleat" ng-repeat="item in prods | filter : search : strict">
  <h3>{{item.title}}</h3>
  <h4>{{item.brand}}</h4>
  <img ng-src="{{item.image}}">
  <h2>${{item.price}}</h2>
  <p>{{item.description}}</p>
  <a href="#/prod/{{$index}}">View More</a>
  <button ng-click="removeProd($index)">Delete</button>
  <a href="#/prod/{{$index}}/edit">Edit Post</a>
</div>
